@{
    ViewData["Title"] = "Lesson added";
}

<div class="text-center">
    <div class="alert alert-success">
        <strong>Success!</strong> Lesson successfully added.
    </div>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Class" )'">OK</button><br><br> @* TODO: Index with class id *@
</div>