@{
    ViewData["Title"] = "Lesson edited";
}

<div class="text-center">
    <div class="alert alert-success">
        <strong>Success!</strong> Lesson successfully edited.
    </div>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Classroom" )'">OK</button><br><br>
</div>