@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <div class="alert alert-danger">
        <strong>Error!</strong> The value you have tried to add is not unique or the length is too big.
    </div>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Edit")'">Return</button><br><br> 
</div>